.background {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 180%;
  min-height: auto;
  background-color: rgba(0, 179, 158, 0.404);
}

.modal-container {
  position: absolute;
  width: max-content;
  width: 442px;
  margin-bottom: 10px;
  padding: 24px 24px 43px 34px;
  top: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.39);
  border-radius: 4px;
}

.modal-between {
  display: flex;
  justify-content: space-between;
}

.modal-font1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.modal-font2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #474747;
}

.modal-font3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #414141;
}

.modal-font4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #343234;
}

.modal-font5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  color: #ffffff;
}

.input1 {
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 16px;
  height: 48px;
  width: 100%;
  border-color: #0000004d;
}

::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.form-group {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.form-group > button {
  width: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
  display: flex;
  justify-content: flex-start;
  padding: 20px 20px;
  color: #4d4e50;
  margin: 8px 0px;
}

.form-group > button:focus,
.form-group > button:hover {
  background-color: rgba(255, 69, 1, 1);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  color: rgb(255, 255, 255);
}

.create {
  display: flex;
  align-items: center;
  background: #00b39d;
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding: 10px 20px;
  color: #ffffff;
  margin-top: 30px;
  cursor: pointer;
}

.cancel {
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #6a6c72;
  background: #ffffff;
  border: 1px solid #00000065;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
.add-box>img{
display: flex;
/* 
  height: 90%;
  width: 90%; */
}